.search {
  height: 40px;
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
  color: #303030;
  text-align: center;
  padding: 0 10px;
  border: 0;
  border-radius: 10px;
}

@media only screen and (max-width: 520px) {
  .search {
    width: 100%;
    text-align: center;
  }
}
